# IDE
.lh
.jshintrc
.idea
nbproject
.vscode
.history
*.codekit3

# SCM
.svn
.git

# Claude AI
CLAUDE.md

# Gina
.*
!/.gitignore
!/.npmignore
!/.changes
/services
/logs
/tmp
/cache/*
.gna
node_modules/
VERSION
MIDDLEWARE
package-lock.json
* copy
test/workspace
SUCCESS

# Desktop
.DS_Store
._.DS_Store
Icon?
desktop.ini
Thumbs.db

# Misc
/data
/cgi-bin
.env
*.bak
*.bak.*
*.old
*.old.js
src.old
*.log
*.afdesign

# Framework
framework/v*/package-lock.json
framework/v*/package.json
# framework/v*/
framework/v*/test/workspace
*.jar
*.map