# IDE
.jshintrc
*.idea
nbproject
.metadata

# codekit, sublimetext, vscode
*.codekit
.codekit-cache
.sublime-workspace
.sublime-project
*sublime-project
*sublime-workspace
.editorconfig
config.codekit
.vscode

# Gina
/logs
/tmp
/cache
.gna
node_modules*
VERSION
# SCM
.svn
.git
test/workspace
SUCCESS
package-lock.json

# Desktop
.DS_Store
desktop.ini

# Misc
/data
/cgi-bin
._.DS_Store
npm-debug.log

*.sassc
