
# IDE
.jshintrc
.idea
nbproject
.vscode

# Gina
/logs
/tmp
/cache
.gna
node_modules*
VERSION
# SCM
.svn
.git
test/workspace
SUCCESS

# Desktop
.DS_Store
desktop.ini

# Misc
/data
/cgi-bin
._.DS_Store
*.bak
*.old

framework/v0.1.0/package-lock.json

framework/v0.1.0/package.json

*.codekit3
package-lock.json
