# IDE
.jshintrc
.idea
nbproject
.vscode
.history
support
test
examples
*.sock
./test/workspace
framework/v*/node_modules
framework/v*/core/asset/js/plugin/lib
framework/v*/core/asset/js/plugin/src
framework/v*/core/asset/js/plugin/build*
./node_modules
/tmp/*
*.old
.*.js
gina.com
MIDDLEWARE
package-lock.json
