# IDE
.jshintrc
.idea
nbproject
.vscode
.history
support
test
examples
*.sock
doc
script/prepare.js
test/workspace
framework/v*/node_modules
framework/v*/core/asset/js/plugin/lib
framework/v*/core/asset/js/plugin/src
framework/v*/core/asset/js/plugin/build*
framework/v*/SUCCESS
framework/v*/MIDDLEWARE
node_modules
tmp/*
*.old
.*.js
* copy
gina.com
MIDDLEWARE
package-lock.json
